
/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.bar {
  height: 50px;
  background-color: #ff5722;
  margin-bottom: 100px;
  width:100%;
}

#topsection {
  margin: 30px;
}
#topsection p {
  font-size: 14px;
}
#topsection div {
  justify-content: space-between;
}
#topsection div #total {
  color: #e91e63;
  display: inline;
  font-size:16px;
}
#topsection div button {
  border: 1px solid orange;
  background-color: white;
  color: #ff5722;
  border-radius: 2px;
}
#blockHolders{
  height:auto;
  width:auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  margin:0px;
}
#blocks{
  height:300px;
  width:300px;
  background-color:pink;
  display:inline-block;
border: solid 4px white;  padding:10px;
    transition-duration:1s;

}
#newdiv{
 color:white;
 display: inline-block;
  margin-right:10px;
  background-color:rgba(255, 255, 255, 0.18);
  padding:2px 8px;
  border: rgba(255, 255, 255, 0.68) solid 2px;
    border-radius: 3px;
}

#blocks:hover{
  border-radius:0px 50px 0px 0px;
  transition-duration:.5s;
}
#blocks #title{
  color:white;
     margin-top: 100px;
        font-family:  "HelveticaNeue-Light", "Helvetica", sans-serif;
}
#blocks #name {
 color:white;
 font-size:40px;
  padding-right:20px;
  margin-top:0px;
      font-family:  "HelveticaNeue-Bold", "Helvetica", sans-serif;
}
#date{
      color: white;
    font-size: 17px;
        font-family:  "HelveticaNeue-Medium", "Helvetica", sans-serif;
}
#desc{
  color:white;
  font-size:14px;
      width: 100%;
    margin: 0px;
    background-color: #ffffff1f;
    padding-bottom: 15px;
}

#tags{
 color:white;
  width: 50px;
  font-family:  "HelveticaNeue-Medium", "Helvetica", sans-serif;
  text-align:center;
  background-color:rgba(255, 255, 255, 0.19);
  padding:2px 5px;
  border-radius:5px;
}
